html {
    height: 100%;
}

body {
    padding: 50px;
    background-image: linear-gradient(to top right, rgb(38, 105, 192), rgb(196, 205, 229));
    font-family: sans-serif;
}

#container {
    display: flex;
    justify-content: flex;
}