html {
    height: auto;
    min-height: 100%;
}

body {
    padding: 50px;
    background-image: linear-gradient(to bottom, #00416A, #E4E5E6);
    font-family: sans-serif;
}

#container, h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.5) 2px 1px 5px;
}
